@import 'foundation';

@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-menu;
@include foundation-top-bar;
@include foundation-callout;
@include foundation-card;
@include foundation-badge;
@include foundation-tabs;
@include foundation-table;
@include foundation-progress-bar;

$light-blue: lighten(get-color('primary'), 40%);
$lightest-blue: lighten(get-color('primary'), 50%);
$green: #4a0;

.inline {
    display: inline-block;
}

@include breakpoint(medium) {
    body {
        display: flex;
        flex-flow: column nowrap;
        height: 100vh;
        overflow: hidden;
    }

    body > header {
        flex: initial;
    }

    body > section {
        flex: 1;
        overflow: hidden;
    }

    .content {
        overflow-y: auto;
    }
}
.top-bar {
    font-size: 90%;
    border-bottom: 1px solid $light-blue;
    background: linear-gradient(to bottom,
                                white,
                                $lightest-blue);
    ul {
        background: none;
    }
}
.top-bar-right {
    color: get-color('secondary');
    .username {
        color: black;
    }
}
.content {
    padding: $global-padding;
}
.article-list {
    display: block;
    margin: 0;
    width: 100%;
    padding: 0;
    li {
        display: flex;
        flex-flow: row wrap;
        padding: 0.5em;
        justify-content: space-between;
        align-items: center;
        &:hover {
            background: $light-gray;
        }
    }
    li > * {
        padding-right: 0.5em;
    }
    li > *:last-child {
        padding-right: 0;
    }
    li.disqualified {
        .article, .contributor, .score {
            text-decoration: line-through;
        }
    }
    .article {
        flex: 2 0 16em;
    }
    .contributor {
        flex: 2 0 12em;
        font-size: 90%;
    }
    .scores {
        flex: 2 0 10em;
        text-decoration: underline;
    }
    .actions {
        flex: 1 0 10em;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        align-items: center;
        .button {
            margin-bottom: 0;
        }
    }
    .evaluate {
        @extend .button;
        @extend .small;
        margin: 0.2rem;
    }
    .delta {
        font-size: 90%;
        font-style: italic;
        color: $green;
    }
}
#article_evaluation {
    @include breakpoint(medium) {
        display: flex;
        .article-grading {
            flex: 3;
            overflow-y: auto;
        }
        .article-preview {
            flex: 9;
            height: 100%;
            border-left: 1px solid $light-gray;
        }
    }
}

.article-grading {
    padding: $global-padding;
    list-style: none;
    .current-contribution {
        text-decoration: underline;
        font-weight: bold;
    }
    .tabs-component-tabs {
        @include tabs-container;
        li {
            @include tabs-title;
        }
    }
    .tabs-component-panels {
        @include tabs-content;
        padding: 0.5em;
    }
    label[for=id_contributed_wikidata] {
        @extend .inline;
    }
}

.errorlist {
    color: get-color(alert);
    font-size: 80%;
}

.helptext {
    display: block;
    float: right;
    font-size: 80%;
    font-style: italic;
}

.article-info {
    font-size: 85%;
    @extend .callout;
    .warnings ul {
        margin-bottom: 0;
    }
}

iframe {
    border: none;
    height: 100%;
    width: 100%;
}

.contest-list {
    @include xy-grid;
    .contest {
        @include xy-cell;
        @include breakpoint(medium) {
            @include xy-cell(4);
        }
    }
}
.score {
    vertical-align: middle;
    font-size: 85%;
}
.score-value {
    @extend .badge;
}

.pagination {
    @include pagination-container;
    & > a, & > span {
        display: inline-block;
    }
    .endless_page_current {
        @include pagination-item-current;
    }
    margin-top: $global-padding;
    font-size: 85%;
}
.messages {
    margin-left: 0;
    li {
        list-style: none;
    }
}
.tabs-title.aside {
    float: right;
}
.tabs-title.is-active > a {
    background: $tab-background-active;
}
.progress {
    /* Allow placing progress meter text outside the positive progress part */
    position: relative;

    height: 1.5rem;
    .progress-meter-text {
        line-height: 100%;
    }
}
.export-scores-button {
    float: right;
}
