{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block object-tools-items %}
    <li>
        <a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if has_absolute_url %}
        <li>
            <a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a>
        </li>
    {% endif %}
{% endblock %}
{% block field_sets %}
    <div class="form-row">
        <label class="aligned">{% trans "Import status" %}</label>
        {% if import_task %}
            {% if import_task.state == 'SUCCESS' %}
                <p>{% blocktrans with datetime=original.last_import_datetime %}Last import: {{ datetime }}{% endblocktrans %}</p>
            {% elif import_task.state == 'PENDING' %}
                <p>{% trans "Import in progress." %}</p>
            {% elif import_task.state == 'FAILURE' %}
                <p>{% trans "Import failed with following exception:" %}</p>
                <pre>{{ import_task.result }}</pre>
            {% endif %}
        {% else %}
            <p>{% trans "No import was run." %}</p>
        {% endif %}
        {{ block.super }}
    </div>
{% endblock %}
