{% extends "evaluate/content.html" %}
{% load i18n %}
{% block content %}
    <a class="button hollow export-scores-button" href="{% url "contest_scores_export" contest.id %}">{% trans "Export raw scores" %}</a>
    <h1>{% blocktrans %}Results in {{ contest }}{% endblocktrans %}</h1>
    <section class="result-users">
        <table>
            <thead>
                <th></th>
                <th>{% trans "Contributor" %}</th>
                <th>{% trans "Total score" %}</th>
                <th>{% trans "Contributions" %}</th>
            </thead>
            <tbody>
            {% for result in contributors %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ result.username }}</td>
                    <td>{{ result.sum|floatformat }}</td>
                    <td><a href="{% url "user_contribs" contest.id result.username %}">{{ result.contribs }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
